<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <context:annotation-config/>
    <tx:annotation-driven />

   <context:component-scan base-package="ru.saa.part.springrf" />


    <!--<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>-->


    <bean class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean" id="entityManagerFactory">
        <property name="persistenceUnitName" value="MyPUnit" />
    </bean>

    <bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>


    <bean id="employeeService" class="ru.saa.part.springrf.server.service.EmployeeServiceImpl"/>


    <bean id="gwtSpringServiceLayerDecorator"
          class="ru.saa.part.springrf.server.locator.spring.GWTSpringServiceLayerDecorator" />
    <bean id="defaultExceptionHandler"
          class="com.google.web.bindery.requestfactory.server.DefaultExceptionHandler" />
    <!-- RequestFactoryServlet bean is scoped as singleton. Injecting custom
        SpringServiceLayerDecorator. -->
    <bean id="requestFactoryServlet"
          class="com.google.web.bindery.requestfactory.server.RequestFactoryServlet"
          scope="singleton">
        <constructor-arg ref="defaultExceptionHandler" />
        <constructor-arg ref="gwtSpringServiceLayerDecorator" />
    </bean>
    <bean id="gwtSpringEntityLocator"
          class="ru.saa.part.springrf.server.locator.spring.GWTSpringEntityLocator" />
    <bean id="gwtSpringServiceLocator"
          class="ru.saa.part.springrf.server.locator.spring.GWTSpringServiceLocator" />
    <!-- IMPORTANT NOTE: CustomServletWrappingController is a hacked version
        of ServletWrappingController. The servlet class defined here will not be
        used. Please see CustomServletWrappingController for more information. -->

</beans>