<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="urlMapping"
          class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <value>
                /gwtRequest=gwtRequestFactoryController
            </value>
        </property>
    </bean>

    <bean id="gwtRequestFactoryController"
          class="ru.saa.part.springrf.server.locator.spring.CustomServletWrappingController">
        <property name="servletClass">
            <value>com.google.web.bindery.requestfactory.server.RequestFactoryServlet
            </value>
        </property>
        <property name="servletName">
            <value>gwtRequest</value>
        </property>
    </bean>
</beans>
